<!DOCTYPE html>
<html>
  <body>

      <ul class="nav-bar">
        <li>
          <%= link_to "equation" , equations_path%>
        </li>
        <li>
          <%= link_to "individual" , individuals_path%>
        </li>
      </ul>

    <%= yield   %>
  
  </body>
</html>
