<html>
<head>
	<title> Equation </title>
</head>
<body>
	<h1> My Implementation </h1>
	<% @output.each do |line| %>
	<p><%= line %></p>
	<%end%>
	<button><a id="back" href="/">Go Back</a></button>
</body>
</html>
