<html>
<head>
	<title> Equation </title>
</head>
<body>
  <%= render 'layouts/header' %>
  <h1>Here shall be the equations</h1>

  <%= render 'layouts/equation_table', equations: @equations %>

</body>
</html>
