<html>
<head>
	<title> Equation </title>
</head>
<body>
  <%= render 'layouts/header' %>
	<h1> My Implementation2 </h1>
 <% @equation.a = 1 %>
 <% @equation.b = 3 %>
 <% @equation.c = 2 %>
 <%= render 'form', equation: @equation %>


</body>
</html>
