<html>
<head>
	<title> Equation </title>
</head>
<body>
	<h1> My Implementation </h1>
	<% @output.each do |line| %>
	<p><%= line %></p>
	<%end%>

  <%= button_to "Go Back", equations_path, method:'get' %>
</body>
</html>
