<h1>Cats#index</h1>

<%= link_to 'New cat', new_cat_path %>
<br/>
<br/>

<% @cats.each do |cat| %>
  Name: <%= link_to cat.name, cat_path(cat) %> <br/>
  Weight: <%= cat.weight %> <br/>
  <br/>
<% end %>
