<!DOCTYPE html>
<html>
  <body>

      <ul class="nav-bar">
        <li>
          <%= link_to "users" , users_path%>
        </li>
        <li>
          <%= link_to "documents" , documents_path%>
        </li>
      </ul>

    <%= yield %>
  
  </body>
</html>
