// Place all the styles related to the individuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.spacer
{
    display: block;
    margin: 10px auto;
}

#link
{
    margin: 20px auto;
    float: left;
}

#info
{
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    float: left;
}

#equations
{
    clear: left;
    margin: 15px;
}

div + a
{
    margin-top: 20px;
}

table
{
    background: rgb(204, 204, 204);
}
span + span
{
    margin: auto 10px;
}

span
{
    font-size: 15px;
}
