<!DOCTYPE html>
<html>
  <body>
    <h1>Pages#index</h1>
    <p>Find me in app/views/pages/index.html.erb</p>
    <%= render "layouts/header" %>
    <h1>Hello to my first Rails app</h1>
  </body>
</html>
